<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid Travel Guide</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="plane">🛩</span>
        <a href="/">Covid Travel Guide</a>
      </h1>

      <nav class="navbar">
        <a href="/">Home</a> |
        <a href="/dashboard">Search Results</a> |
        {{#if logged_in}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a> |
        {{/if}}
        <a href="/signup">Signup</a>
      </nav>

    </header>

    <main>
      <div class="card">
        {{{body}}}
      </div>
    </main>

  </div>
  
{{#if logged_in}}
<script src="./js/logout.js"></script>
{{/if}}

</body>

</html>