<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid Travel Guide</title>
  

</head>

<body>
  <header>
    <h1>Covid search bar</h1>
  </header>
  <nav>
    <a href="/">Mainpage</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    
    <div class="card">
      {{{body}}}
    </div>
  </main>
  
</body>

</html>