{{!-- Homepage --}}

{{!-- create search engine here with usage of API --}}
{{!-- needs to tell the user to use the country code with the search function --}}
<div class="text-center">
    <p>this is the covid travel guide blah blah blah</p>
</div>
<hr>

{{!-- <div>
    <form class="row g-3">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</form> --}}
</div>