<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
{{!-- 
  <form id="login-form" class="card-body">

    <div>
      <label for="email-input-login">Email</label>
      <input type="text" id="email-input-login" />
    </div>

    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>

    <button type="submit" id="login-btn" class="btn">Login</button>
    <a type="button" href="/signup">Sign up if you do not have an account.</a>
  </form> --}}

  <form id="login-form" class="card-body">

  <div class="mb-3">
    <label for="email-input-login" class="form-label">Email</label>
    <input type="email" class="form-control" id="email-input-login" aria-describedby="emailHelp">
    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
  </div>

  <div class="mb-3">
    <label for="password-input-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-input-login">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<script src="./js/login.js"></script>