body{
    background-image: url('https://media.istockphoto.com/photos/close-up-of-footprints-in-the-sand-at-sunset-picture-id544095860?b=1&k=20&m=544095860&s=170667a&w=0&h=tIErPWh1TUkENf7zTMw9cF34sf3VXIdiuCrZNR5feSA=');
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    position: left;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}