.custom-navbar {
    padding: 30px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeA36npgHK-kTEoOZ7TqWM6qbsxYl3L2tdIszOfMoqPGhcRSJtBTR5tj_tLmU3V5OBEw&usqp=CAU);
    background-color: rgb(255, 234, 189);
}

.nav-style {
    color: black;
    text-decoration: none;
}

/* mouse over link */
.nav-style:hover {
    color: rgb(223, 186, 108);
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: rgb(211, 175, 98);

}

a:hover {
    color: rgb(223, 186, 108);
    text-decoration: underline;
 }
